.formMain{
	align-self: center;
}

.formTitle {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
  text-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
}

.formText {
  font-size: 1rem;
  line-height: 1.25rem!important;
  color: rgba(255, 255, 255, 1);
  text-align: justify;
}

.formBigText {
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: rgba(255, 255, 255, 1);
}

.contactIcon {
  width: auto;
  height: 5rem;
}

.mainCard {
	top: 8rem;
	margin: 2rem 8rem;
  background: rgba(0, 0, 0, 0.95);
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
}

.formBox {
  height: 2.5rem;
  background: rgba(217, 217, 218, 1);
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(37, 37, 38, 1);
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg {
  height: 50rem;
  background-image: url('../../img/contactViewBg.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
}

.formButton {
	height: 4rem;
	width: 16rem;
	margin-top: 8rem;
  background: rgba(0, 0, 0, 1);
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
	border-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.formButton:hover{
	background: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 575px){
	.mainCard{
		margin: 2rem 0rem;
	}
	.formTitle{
		font-size: 1.5rem;
	}
	.formBigText{
		font-size: 1rem;
		line-height: 1.25rem;
	}
	.formText{
		font-size: 0.75rem;
	}
	.formBox{
		height: 1.25rem;
		font-size: 1rem;
	}
	.bg{
		height: 61rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px){	
	.mainCard{
		margin: 2rem 0rem;
	}
	.formTitle{
		font-size: 1.75rem;
	}
	.formBigText{
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
	.formText{
		font-size: 0.75rem;
	}
	.formBox{
		height: 1.75rem;
		font-size: 1.25rem;
	}
	.bg{
		height: 63rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.mainCard{
		margin: 2rem 2rem;
	}
	.formTitle{
		font-size: 2.0rem;
	}
	.formBigText{
		font-size: 1.5rem;
		line-height: 2.0rem;
	}
	.formText{
		font-size: 1rem;
	}
	.formBox{
		height: 1.75rem;
		font-size: 1.25rem;
	}
	.bg{
		height: 55rem;
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px){
	.mainCard{
		margin: 2rem 1rem;
	}
}
