.formTitle{
	height: 48px;
	font-family: Rufina;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	text-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
}

.mainCard{
	position: relative;
	top: 15vh;
	left: 50%;
	transform: translate(-50%, 0);
	height: 56vh;
	width : 80vw;
	background: #000000;
	box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
}

.font{
	font-family: Rufina;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
}

.textBox{
	height: 40px;
	background: #D9D9DA;
	display: flex;
	align-items: center;
	text-align: center;
	color:#252526;
}

.bg{
	height: 100vh;
	background-image: url("../../img/contact\ view\ bg.jpg");
	background-size: cover;
	background-position: center;
	background-color: white;
}
