.navbar {
  background-color: rgb(0, 0, 0);
  padding: 0;
  height: 4.5rem;
}

.height-limit {
  height: inherit;
}

.navbar-brand {
  padding: 0;
  height: inherit;
}

.navbar-brand img {
  cursor: pointer;
  height: inherit;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  cursor: pointer;
  color: rgb(100, 100, 100) !important;
  transition: 0.2s;
}

.active {
  color: rgb(100, 100, 100) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.left-line {
  border-left: rgb(255, 255, 255) 0.0625rem solid;
}

@media screen and (max-width: 575px) {
  .navbar {
    height: 4rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    height: 4.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    height: 5rem;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .navbar {
    height: 5rem;
  }
}
