@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

.services {
  background-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
}

.section-header h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: 'Rufina', sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Rufina', sans-serif;
  font-size: 28px;
}

.serviceCardBlack {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.serviceCardWhite {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.cardTitleWhite {
  color: rgb(255, 255, 255);
}

.cardTitleBlack {
  color: rgb(0, 0, 0);
}

.icon-services {
  font-size: 30px;
}
