@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

.servicesTeam {
  margin-bottom: 60px;
}

.section-header h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: 'Rufina', sans-serif;
  margin: 30px 0;
}

h3 {
  font-family: 'Rufina', sans-serif;
  font-size: 28px
}

.service-box {
  margin: 10px;
  padding: 50px 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.boxwhite {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#title-white {
  color: rgb(0, 0, 0);
}

i {
  font-size: 30px;
}
