.services {
  background-image: url('../../img/servicesViewBg.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 3rem;
}

.section-header h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: 'Rufina', sans-serif;
  padding-top: 4rem;
  margin-bottom: 50px;
}

.serviceCardBlack {
  margin: 10px;
  padding: 1.5rem;
  border-radius: 5px;
}

.serviceCardWhite {
  margin: 10px;
  padding: 1.5rem;
  border-radius: 5px;
}
