@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

.team-boxed {
    color:rgb(49, 52, 55);
    background-color:rgb(0, 0, 0);
  }
  
.team-boxed p {
    color:rgb(0, 0, 0);
    font-family: 'Rufina', sans-serif;
}

.section-header h2 {
    font-weight:bold;
    color:inherit;
    font-family: 'Rufina', sans-serif;
    color: white;
}

@media (max-width:767px) {
    .team-boxed h2 {
        font-size:24px;
        margin-bottom:25px;
    }
}

.team-boxed .intro {
    max-width:500px;
    font-size:16px;
    margin:0 auto;
}

.team-boxed .intro p {
    margin-bottom:0;
    font-family: 'Rufina', sans-serif;
}

.team-boxed .people {
    padding:40px 0;
}

.team-boxed .item {
    text-align:center;
}

.team-boxed .item .box {
    text-align:center;
    background-color:rgb(255, 255, 255);
    margin-bottom:30px;
    border-radius: 10px;
    padding:30px;
}

.team-boxed .item .name {
    margin-bottom:8px;
    color:inherit;
    font-weight:bold;
}

.team-boxed .item .title {
    color:rgb(161, 161, 161);
    letter-spacing:2px;
    font-size:11px;
    font-weight:bold;
}

.team-boxed .item .description {
    margin-top:15px;
    margin-bottom:20px;
    font-size:15px;
}

.team-boxed .item img {
    max-width:160px;
    border-radius: 5px;
}

.team-boxed .social {
    color:rgb(161, 161, 161);
    font-size:18px;
}

.team-boxed .social a {
    margin:0 10px;
    color:inherit;
    opacity:0.7;
    display:inline-block;
}

.team-boxed .social a:hover {
    transition: 1s;
    color: rgb(0, 0, 0);
}

.team-boxed {
    padding-bottom: 50px;
}