.card {
  padding: 1.875rem;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 0px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.left {
  margin-right: 50px;
  padding-left: 1rem;
}

.right {
  margin-left: 50px;
  padding-right: 1rem;
}

.numberBox {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-top: 4rem;
}

.timelineCard {
  position: relative;
  width: 50%;
  min-height: 120px;
}

.cardPosition-left {
  left: 0;
  padding-right: 70px;
  text-align: right;
}

.cardPosition-right {
  left: 50%;
  padding-left: 70px;
  text-align: left;
}

.cardPosition-left .numberBox {
  right: 0;
  margin-right: -2rem;
}

.cardPosition-right .numberBox {
  left: 0;
  margin-left: -2.5rem;
}

.cardPosition-left .card {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}

.cardPosition-right .card {
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

@media screen and (max-width: 1024px) {
  .numberBox {
    margin-top: 5.5rem;
  }
}

@media screen and (max-width: 768px) {
  .numberBox {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .timelineCard .card::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: -1px;
    width: 0;
    z-index: 1;
    border: medium solid rgb(255, 255, 255);
  }
  .timelineCard {
    width: 100%;
    padding-right: 0px;
    margin-top: 30px;
  }
  .timelineCard:first-of-type {
    margin-top: 0px;
  }
  .cardPosition-right {
    left: 0%;
    padding-left: 0%;
  }
  .cardPosition-left {
    text-align: left;
  }
  .right {
    margin-left: 0;
  }
  .card::before {
    left: -10px;
    right: auto;
  }
  .cardPosition-left .card {
    clip-path: none;
  }

  .cardPosition-right .card {
    clip-path: none;
  }
  .cardPosition-left .card::before {
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }
  .card {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
  }
}

@media screen and (max-width: 480px) {
  .card {
    padding: 2rem;
    border-radius: 5px;
  }
  .cardPosition-left .card::before {
    left: 47.4%;
    top: -10px;
    border: medium solid rgb(255, 255, 255);
    border-width: 0 10px 10px 10px !important;
    border-color: transparent transparent rgb(0, 0, 0) transparent !important;
  }
  .cardPosition-right .card::before {
    left: 47.4%;
    top: -10px;
    border: medium solid rgb(255, 255, 255);
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
  }
  .right {
    margin-left: 0;
  }
  .numberBox {
    position: relative !important;
    margin: 1rem auto !important;
  }
  .numberBox h1 {
    padding-top: 15px !important;
  }
}
