@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

body {
  margin: 0;
  font-family: 'Rufina', sans-serif, -apple-system, BlinkMacSystemFont, 
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", 
	"Droid Sans", "Helvetica Neue";
  color: rgb(0, 0, 0);
	font-style: normal;
	font-weight: normal;
	word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
